  <%= simple_form_for(@setting, :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors @setting %>

    <div class="form-inputs">
      <%= f.input :app_name, :autofocus => true %>
      <%= f.input :email_enabled %>
      <%= f.input :domain, placeholder: 'your_domain.com' %>
      <%= f.input :email_address, placeholder: 'your_username@yourdomain.com' %>
      <%= f.input :smtp_server, placeholder: 'E.g. smtp.gmail.com' %>
      <%= f.input :smtp_port, placeholder: 'E.g. 587' %>
      <%= f.input :smtp_username, placeholder: 'E.g. user@gmail.com' %>
      <%= f.input :smtp_password, placeholder: 'Your gmail password', :hint => 'We only need the password when you want to update it' %>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.button :submit, 'Update', :class => 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
