<div class="header">
  <i class="icon-exchange"></i>
  Integrations
  <ul class="nav pull-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-chevron-down notext"></i>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li>
          <%= link_to new_integration_path do %>
            <i class="icon-plus"></i>Add
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="content">
  <% @integrations.each do |integration| %>
    <div class="item">
      <div class="header">
        <%= integration.name || integration.provider_type %>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-chevron-down notext"></i>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li>
                <%= link_to edit_integration_path(integration) do %>
                  <i class="icon-pencil"></i>Edit
                <% end %>
              </li>
              <li>
                <%= link_to integration, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="icon-trash"></i>Delete
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="content">
        <div class="attribute">
          <b>Provider type:</b>
          <%= integration.provider_type %>
        </div>

        <div class="attribute">
          <b>Url:</b>
          <%= integration.url %>
        </div>

        <div class="attribute">
          <b>Username:</b>
          <%= integration.username %>
        </div>
      </div>
    </div>
  <% end %>
</div>

