<div class="header">
  <i class="icon-exchange"></i>
  Integrations
  <div class="dropdown pull-right">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-large icon-align-justify notext"></i>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li>
        <%= link_to new_integration_path do %>
          <i class="icon-plus"></i>Add integration
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="content">
  <% @integrations.each do |integration| %>
    <div class="item">
      <div class="header">
        <i class="icon-exchange"></i>
        <%= integration.name || integration.provider_type %>
      </div>
      <div class="content">
        <p>
          <b>Provider type:</b>
          <%= integration.provider_type %>
        </p>

        <p>
          <b>Url:</b>
          <%= integration.url %>
        </p>

        <p>
          <b>Username:</b>
          <%= integration.username %>
        </p>

        <%= link_to '', edit_integration_path(integration), :class => 'icon-pencil' %>
        <%= link_to '', integration, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'icon-trash' %>
      </div>
    </div>
  <% end %>
</div>

