<div id="sidebar" class="span2">
  <ul class="nav nav-tabs nav-stacked affix">
    <li>
      <%= link_to root_path do %>
        <i class="icon-large icon-home"></i>Home
      <% end %>
    </li>
    <li>
    <%= link_to applications_path do %>
        <i class="icon-large icon-th-large"></i>Changes
      <% end %>
    </li>
    <li class="active">
      <%= link_to applications_path do %>
        <i class="icon-large icon-th-large"></i>Applications
      <% end %>
    </li>
    <li>
      <%= link_to applications_path do %>
        <i class="icon-large icon-th-large"></i>Releases
      <% end %>
    </li>
    <li>
      <%= link_to applications_path do %>
        <i class="icon-large icon-th-large"></i>Environments
      <% end %>
    </li>
  </ul>
</div>
