<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : $settings.app_name %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : $settings.app_name %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div id="header" class="container-fluid">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <%= render 'layouts/navigation-top' %>
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
      <div id="main" class="container-fluid" role="main">
        <div class="row-fluid">
          <%= render 'layouts/sidebar' %>
          <div id="workingarea" class="span10">
            <div class="span8 offset1">
              <%= yield %>
            </div>
          </div>
        </div>
        <footer>
        </footer>
      </div>
    <% end %>
  </body>
</html>
